{% extends 'base/base.html.twig' %}

{% block title %}Управление{% endblock %}


    {% block control_panel %}
        <div id="block_control_panel">

            <div id="block_site_bar">
                <ul>
                    <li><a href="/management/departments">Кафедры</a></li>
                    <li><a href="/management/structure/department">Структура и расписание</a></li>
                    <li><a href="/management/subjects">Предметы</a></li>
                    <li><a href="/management/recturers">Преподаватели</a></li>
                </ul>
            </div>

            {% block workspase %}
            <div id="block_workspace">
                <p>workspace</p>
            </div>
            {% endblock %}

        </div>
    {% endblock %}

