<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <title>{% block title %}Admin Panel{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/base.css') }}"  rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}

            {% block absolute %}

            {% endblock %}


            <div id="wraper">
                {% block header %}
                    <div id="block_header">
                        <a id="element_exit" href="/logout"><img src="{{ asset('img/exit.png') }}" width="35" height="35"></a>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a href="/institutes">Управление институтами</a>
                        {% endif %}
                        <h1 id="institute_name">{{ data_base.getInstitute(app.user.institute.getId) }}</h1>
                    </div>
                {% endblock %}

                {% block nav_bar %}
                    <div id="block_nav_bar">
                        <ul>
                            <li>
                                <a href="/management">Управление</a>
                            </li>

                            <li>
                                <a href="/news">Новости</a>
                            </li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="/staff">Персонал</a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                {% endblock %}

                {% block control_panel %}
                <div id="block_control_panel">

                </div>
                {% endblock %}


                    <div id="flash_block" >
                            {% block massage %}

                            {% endblock %}
                        </span>
                    </div>


                {% block footer %}
                    <div id="block_footer">
                        <h2>MY-STUDY.TK COPYRIGHT 2018</h2>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
