#subjects_list{
    border: 1px solid;
    width: 75%;
    height: 100%;
}

#departments_list li{
    list-style: none;
}

#departments{
    border: 1px solid;
    width: 24%;
    height: 100%;
    float: right;
}
form{
    display: inline-block;
}

#courses li{
    display: inline-block;
}
