{% extends 'management/management.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('css/subjects.css') }}"  rel="stylesheet">
 {% endblock %}

{% block title %}Список предметов{% endblock %}

{% block workspase %}
    <div id="block_workspace">
       <div id="subjects_list">

       </div>

        <div id="departments">

        </div>

    </div>
{% endblock %}
